<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>My third application</title>
</head>
<body>
    <div class="container">

        <h1>So what's up homie</h1>
        <p>Go to /users to see randomly generated users</p>
        <p>Go to /form to see a form.</p>
<!--        {{ insert_tag }}-->
    </div>
</body>
</html>