<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "AppTwo/css/mystyle.css" %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Vartotoju sarasas</title>
</head>
<body>

    <div class="container">
        <div class="jumbotron">

            <h1>Sveiki, eikite į /form, kad užpildytumėte formą.<br>
            Jeigu tai padarėte, mes tai išsaugojome duomenų bazėje.</h1>

        </div>



    </div>











<!--    <p></p>-->


<!--        {% if vartotojai %}-->


<!--            <ol>-->
<!--                {% for useris in vartotojai %}-->
<!--                <li>User info</li>-->
<!--                    <ul>-->
<!--                        <li>First Name: {{ useris.first_name }}</li>-->
<!--                        <li>Last Name: {{ useris.last_name }}</li>-->
<!--                        <li>Email: {{ useris.email }}</li>-->
<!--                    </ul>-->
<!--                {% endfor %}-->
<!--            </ol>-->




<!--            {% else %}-->
<!--                <p>No users found.</p>-->
<!--            {% endif %}-->

</body>
</html>